tr.error td {
   padding-bottom: 61px;
}

.alert {
   margin: 15px 0 -1px 0;
   border-radius: 0;
   position: absolute;
   padding-right: 80px;
   width: 100%;
   left: 0;
   text-align: left;
}

.alert button {
   position: absolute;
   right: 15px;
   top: 9px;
}
