.table {
   border-bottom: 1px solid #dee2e6;
}
.table td,
.table th {
   width: 14%;
   text-align: left;
   vertical-align: middle;
}
.table td:first-child,
.table th:first-child {
   width: 8%;
}

.checkbox {
   transform: scale(1.3);
   top: 5px;
}
