.empty{
    text-align: center;
}

.error{
    margin: 30px;
    padding-right: 80px;
    position: relative;
}

.error button {
    position: absolute;
    right: 15px;
    top: 5px;
}

.table{
    border-bottom: 1px solid #dee2e6;
}
.table td, .table th{
    width: 30%;
    text-align: left;
    vertical-align: middle;
}
.table td:last-child, .table th:last-child{
    width: 10%;
    white-space: pre;
}
.table button + button {
    margin-left: 8px;
}

@media (min-width: 992px) {
    .table td:first-child, .table th:first-child{
        padding-left: 1%;
    }
}

@media (min-width: 1200px) {
    .table td:first-child, .table th:first-child{
        padding-left: 2%;
    }
}

@media (min-width: 1920px) {
    .table td:first-child, .table th:first-child{
        padding-left: 3%;
    }
}
