.content-zoom-in{
  animation: zoom-in .12s ease-in;
}

@keyframes zoom-in {
  0% {
    opacity: 0;
    margin-top: -50px;
    transform: scale(.9);
  }
  100% {
    opacity: 1;
    margin-top: 0;
    transform: scale(1);
  }
}

.app{
  margin: 0;
  padding: 0;
}
